body {
  font-family: "Arial", "Meiryo", sans-serif
}
.google-fonts{
  font-family: 'Josefin Sans', sans-serif;
}
html {
  font-size: 20px;1px,2px,3px,gray
}
h1 {
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 1px 2px 3px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
.text-pink {
  color: rgb(255, 192, 203);
}
.text-skyblue {
  color: skyblue;
}
body {
  text-align: center;
}
#parent p {
  font-weight: bold;
}